eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8769
spring:
  application:
    name: service-zuul
  redis:
    database: 0
    host: localhost
    port: 6379
    password: 123456
    jedis:
      pool:
        max-active: 200
        max-wait: -1
        max-idle: 10
        min-idle: 0
    timeout: 1000
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://127.0.0.1:3306/bank
    driver-class-name: com.mysql.jdbc.Driver


zuul:
  routes:
    api-a:
      path: /api-a/**
      serviceId: service-ribbon
    api-b:
      path: /api-b/**
      serviceId: service-feign
    customer:
      path: /customer/**
      serviceId: service-customer
    authrization:
      path: /authrization/**
      serviceId: service-zuul